
nav{
    width:auto;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 1px solid #5c5c5f;
    /* box-shadow:  0px 2px 15px rgba(143, 142, 142, 0.19); */
}

nav .logo{
    color: #c6c7c9;
    font-size:2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin:.5rem;
    
}

.links ul{
    padding:0;
    margin:0;
    display:flex;
}

.links ul li{
    list-style-type: none;
    font-size:1.6rem;
    font-weight:400;
}

nav a{
    text-decoration:none;
    color:rgb(222, 225, 230);  
}
.links li a{
    display:block;
    padding:.5em;
}

.links a:hover,
.links a:focus{
    color:rgba(28, 28, 31, 0.842);
    transition:0.4s;
    /* background-color: #33333322; */
    border-bottom: .5px solid white;
}

.nav-button{
    position:absolute;
    top: 1.6rem;
    right:2rem;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:30px;
    height:20px;
}

.nav-button .bar{
    height:3px;
    width:100%;
    background-color: white;
    border-radius: 10px;
}



@media (max-width:700px) {

    .nav-button{
        display:flex;
        color:white;
        top:1.3rem
    }

    .links{
        display:none;
        padding:0;
    }
    nav .links{
        flex-direction: column;
        align-items: center;
    }

    .links ul{
        flex-direction: column;
        width:100%;
    }

    .links li{
        text-align: center;
        padding:0;
    }

    nav .logo{
        /* padding-top: 1em; */
        padding:1rem;
        align-self:flex-end;
        color: #c8c9c6;
        font-size:1.5rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 0;
        margin-top:0;
        text-decoration: none;
    }

    .links.active{
        display:flex;
    }

    nav{
        padding-left: 0;
        padding-right: 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(40, 39, 39, 0.933);
        border-bottom:none;
    }

    nav .links {
        width: 100%;
        margin-bottom: 5px;
        align-self: center;
        margin-bottom: 2px;
    }

    nav .links li{
        font-size: 17px;
        margin-bottom: 4px;
        background-color: rgb(51, 50, 50);
        padding:6px;
        transition: .8s;
    }

    .links li:hover{
        background-color: #5c5c5f;
        transition: .6s;
    }

    .links a:hover{
    color:rgba(28, 28, 31, 0.842);
    transition:0.4s;
    border-bottom: none;
}
    
}
