*{
    font-family: 'Manrope', sans-serif;
}

body {
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
    /* background: url('images/background-image2.jpg'); */
    background: url('images/astronaut-bg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    overflow-x:hidden;
    z-index: 1;
}
.new-bg-shadow{
    height:fit-content;
    width:inherit;
    background-color: rgba(38, 36, 36, 0.318);
    position: absolute;
}



.top-section-description{
    width:50%;
    height:fit-content;
    position:relative;
    left:2.5%;
    margin-top:5rem;
    margin-bottom:2rem;
    padding-left: 2%;
    border-left: 1px solid white;;
    text-align: left;
    text-overflow: clip;
    color:white;
    }


.top-section{
        margin-top: 2rem;
        margin-bottom:15px;
        width:100%;
        height:fit-content;
    }
    .news1{
        width:95%;
        height:100%;
        position:relative;
        left:2.5%;
       display:grid;
       grid-template-columns: repeat(6,1fr);
       grid-template-rows: repeat(4, 150px);
       gap:15px;
    }
    
    .item>img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .item{
        position:relative;
        border-bottom:2px solid rgba(71, 67, 67, 0.604);
        border-left:2px solid rgba(50, 47, 47, 0.603);
        transition:.5s;
    }
    
    .item:hover{
        box-shadow: 0 8px 16px 0 rgba(155, 154, 154, 0.2), 0 6px 20px 0 rgba(137, 136, 136, 0.19);
        transition: .5s;
    }
    
    .item a:hover{
        color:rgb(191, 191, 221);
    }
    .news-heading{
        position:absolute;
        left:10%;
        bottom:0%;
        padding-bottom: 2%;
        color:white;
        line-height: auto;
    }
    .news-heading p{
        margin: 0%;
    }
    
    .news-heading a{
     text-decoration: none;
     color:white;
    }
    .news-heading p{
        font-size: small;
        color:lightgrey;
    }
    .img1{
        grid-row: span 4;
        grid-column: span 4;
     }
     .img2{
         grid-row: span 2;
        grid-column: span 2;
     }
     .img3{
         grid-row: span 2;
        grid-column: span 2;
     }            

.bottom-news{
        height:fit-content;
        width:95%;
        position: relative;
        left:2.5%;
        display:grid;
        grid-template-columns: repeat(4,1fr);      
        gap:7px;
        line-height: 20px;
        padding:2px;
        padding-left:1rem;
        color:white;
    }
     .article{
        height:90%;
        border-left: 1px solid rgb(155, 164, 168);
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        text-align: left;
        padding-left:1rem;
        color:white;
     }
     .bottom-news a{
        text-decoration: none;
        color:white;
     }
     
    .article-heading{
        padding:inherit;
    }
    
     .article:hover .article-heading {
        border-left: 2px solid rgb(138, 132, 176);
        
     }
     .article:hover .article-heading a{
        color:rgb(192, 183, 243);
        transition: 1s;
     }
     .article-date{
        color:rgb(162, 162, 162);
     }
     .article:hover .article-date{
         color:rgb(238, 238, 238);
         transition: .4s;
     }
    
     .arrow{
        font-size: larger;
     }
     .article:hover .arrow{
        color:rgb(130, 121, 182);
        transition: .4s;
     }
     
     @media screen  and (max-width:500px)  {

        body{
            overflow-x: hidden;
            overflow-y: scroll;
            margin: 0;
        }
        .top-section-description{
            width:90%;
            height:fit-content;
            position:relative;
            left:5%;
            font-size:16px;
            }
            .news1{
               display:grid;
               grid-template-columns: 1fr;
               grid-template-rows: repeat(3, 200px);
               row-gap:15px;
            }
            .news1>*{
               grid-area: span 1;
            }
            
             .bottom-news{
                left:2%;
                display:grid;
                grid-template-columns:1fr;
                grid-template-rows: repeat(4,1fr);
                gap:2px;
                padding:3px;
                padding-left: 0rem;
            }

            .article{
                border-bottom: 1px solid white;
                border-left: hidden;
                background-color: rgba(36, 28, 49, 0.163);
            }

    }