*{
    font-family: 'Manrope', sans-serif;
}

body {
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
    /* background: url('images/background-image2.jpg'); */
    background: url('images/astronaut-bg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    overflow-x:hidden;
    z-index: 1;
}



.top-section-description{
    width:50%;
    height:20%;
    position:relative;
    left:2.5%;
    margin-top:5rem;
    margin-bottom:2rem;
    padding-left: 2%;
    border-left: 1px solid white;;
    text-align: left;
    text-overflow: clip;
    color:white;
    }







.links:hover {
 background-color:#373636;
}

.news {
    background-color: #a16203;
}
.colour {
    height: 5px;
    width: 100%;
    background-color: #a16203;
    margin-top: -6px;
}
main h1 {
    color: white;
}
.section1{
    width: 100%;
    margin-top: -20px;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}


.leftside{
    position: relative;
    margin-top: 2%;
    width: 900px;
    height: 635px;
}

.leftside img{
    width: 100%;
    height: 100%;
}

.leftside h1{
    position: absolute;
    bottom: -13px;
    font-size: 20px;
    background-color: #1b1b1bcd;
    padding: 2% 10%;
    transition: .4s;
}

.images a:hover h1{
    color: rgb(63, 63, 250);
}

.rightside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rightside img{
    width: 498px;
    margin-top: 4%;
}

.img1{
    position: relative;
}

.img2{
    position: relative;
}

.img1 h1{
    position: absolute;
    bottom: -11px;
    font-size: 22px;
    background-color: #1b1b1bcd;
    padding: 2% 10%;
    transition: .4s;
}

.img2 h1{
    position: absolute;
    bottom: -11px;
    font-size: 22px;
    background-color: #1b1b1bcd;
    padding: 2% 10%;
    transition: .4s;
}

.rightside a:hover h1{
    color: rgb(63, 63, 250);
}
.bottom-news{
    display: flex;
    margin-top: 5%;
    padding: 0 5%;
}

.bottom-news a{
    margin: 0 1%;
}

.news-box h3{
    padding: 0 20px;
    transition: .4s;
    border-left: 2px solid #212121;
}

.news-box:hover h3{
    border-left: 2px solid #a16203;
}
