body {
    background-image: url('space-darker.png');
    background-repeat:no-repeat;
    background-size:cover;
    color: rgb(255, 255, 255);
   text-align: center;
   font-family: Arial;
}
.user_input_box {

    background-color:rgba(81, 81, 81, 0.193); 
   border-style: hidden;
    padding: 10px;
    margin: 0 auto;
    width: 350px;
    height:410px;
    border-radius: 3%;
    text-align: center;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-content{
    display:block;
   margin: 0 auto;
   position:relative ;
}

.form-row{
    margin-top: 20px;
margin-bottom: 20px;
}
.form-content{
    display:block;
   align-self:center;
   margin:auto; 

}
.input-field {
    background-color: transparent;
    color:white;
    border: 2px solid rgb(101, 101, 101);
    border-radius:30px;
    width:200px;
    height:25px;
    text-align:left;
    padding-left: 15px;
    
}
#register-button{

    display :inline-block ;
    align-self: center;
}



.button{
    border:1px solid solid;
    color:white;
    background-color:transparent;
    border-radius: 6px;
    border-color:rgb(176, 183, 183);
    align-content: left;
    width:90px;
    height:20px;
    transition: width 0.4s; 
}
.button:hover{
    background-color: rgba(13, 14, 14, 0.444);
    width:92px ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
